<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" />
      </div>
      <p>Lugar para poner la barra de búsqueda</p>
      <p>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
          <br />
          <li><a href="#">Creá tu cuenta</a></li>
          <li><a href="#">Ingresá</a></li>
          <li><a href="#">Mis compras</a></li>
        </ul>
      </nav>
      <section>
        <div>
          <img
            src="/images/img-home-banner.jpg"
            width="360"
            alt="banner de ofertas"
          />
        </div>
      </section>
    </header>
    <main>
      <section>
        <h2>Basado en tu última visita</h2>
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            width="360"
            alt="Cafetera"
          />
          <div>$6.770</div>
          <div>40% OFF</div>
          <div><strong>Cafetera Moulinex</strong></div>
        </article>
        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            width="360"
            alt="Macbook Pro"
          />
          <div>$230.000</div>
          <div>20% OFF</div>
          <div><strong>MacBook Pro 2019</strong></div>
        </article>
        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="360"
            alt="Samsung Galaxy"
          />
          <div>$70.500</div>
          <div>10% OFF</div>
          <div><strong>Samsung Galaxy S10</strong></div>
        </article>
        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="360"
            alt="Smart TV"
          />
          <div>$23.200</div>
          <div>5% OFF</div>
          <div><strong>SmartTv Samsung 43"</strong></div>
        </article>
      </section>
      <section>
        <h2>Sección de Ofertas</h2>
        <article>
          <img
            src="/images/img-cafetera-moulinex.jpg"
            width="360"
            alt="Cafetera"
          />
          <div>$6.770</div>
          <div>40% OFF</div>
          <div><strong>Cafetera Moulinex</strong></div>
        </article>
        <article>
          <img
            src="/images/img-macbook-pro-2019.jpg"
            width="360"
            alt="Macbook Pro"
          />
          <div>$230.000</div>
          <div>20% OFF</div>
          <div><strong>MacBook Pro 2019</strong></div>
        </article>
        <article>
          <img
            src="/images/img-samsung-galaxy-s10.jpg"
            width="360"
            alt="Samsung Galaxy"
          />
          <div>$70.500</div>
          <div>10% OFF</div>
          <div><strong>Samsung Galaxy S10</strong></div>
        </article>
        <article>
          <img
            src="/images/img-tv-samsung-smart.jpg"
            width="360"
            alt="Smart TV"
          />
          <div>$23.200</div>
          <div>5% OFF</div>
          <div><strong>SmartTv Samsung 43"</strong></div>
        </article>
      </section>
    </main>
    <footer>
      <section>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>

        <h4>Envío gratis desde los $2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>

        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>

        <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
      </section>
    </footer>
  </body>
</html>
